*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color:white;
    text-decoration: none;
}
@font-face {
    font-family: OriginTech;
    src: url(../assets/OriginTech.ttf);
}
.app{
    background-color: rgba(7, 7, 117, 0.863);
}
.app-container{
    width: 500px;
    margin: auto;
    background-color: rgba(7, 187, 16, 0.863);
    display: grid;
    grid-template-rows: 200px 660px 200px;
    padding: 10px;
}
/*MENU*/
.menu-container{
    display: grid;
    grid-template-rows: 50% 50%;
    align-items: center;
}
.menu-top-container{
    display: grid;
    grid-template-columns: 30% 40% 30%;
}
.menu-list-container{
    width: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0px;
    background-color: rgba(7, 7, 117, 0.863);
    transition: width 0.5s;
    height: 100%;
}
.menu-list-container>a:hover{
    background-color: royalblue;
}
.button-container{
    text-align: right;
}
.close-button{
    font-size: 2em;
}
.list-option{
    font-size: 2em;
    padding: 20px;
    text-align: center;
}
.logo{
    font-family: OriginTech;
    font-size: 30px;    
}
.menu-bar-container{
    cursor: pointer;
}
.menu-bar-container, .menu-logo-container, .menu-user-container{
    margin:auto;
}
.search-input-container{
    display: grid;
    grid-template-columns: 90% 10%;
}
.search-container input{
    width: 100%;
    height: 30px;
}
.search-icon-container{
    display: flex;
    justify-content: right;
}
/*MAIN*/
.article-container{
    display: grid;
    grid-template-rows: 220px 220px 220px;
}
.article-title{
    font-family: OriginTech;
    padding: 10px 0 10px 0;
    
}
.article-content-container{
    display: grid;
    grid-template-columns: 35% 65%;
}
.image-content{
    margin: auto auto auto 0;
}
.article-content{
    text-indent: 25px;
    font-size: 20px;
}
.article-image{
    width: 160px;
}
/*FOOTER*/
.footer-container{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
.footer-colunm-right,.footer-colunm-center,.footer-colunm-left{
    display: grid;
    grid-template-rows: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.footer-colunm-left img{
    width: 30px;
    height: 30px;
}